# Compilation artifacts
configure
aclocal.m4
autom4te.cache
config.log
config.status
config/
CSharp/cpp/quantlib_wrap.cpp
CSharp/cpp/quantlib_wrap.h
CSharp/cpp/build
CSharp/csharp/obj
CSharp/examples/bin
CSharp/examples/obj
CSharp/.vs/
Java/bin/
Java/quantlib_wrap.cpp
Java/quantlib_wrap.h
Perl/Makefile.quantlib
Perl/QuantLib.bs
Perl/blib/
Perl/pm_to_blib
Perl/quantlib_wrap.cpp
Perl/MYMETA.yml
Perl/MYMETA.json
Python/QuantLib/quantlib_wrap.cpp
Python/.cache/
Python/QuantLib_Python.egg-info
Python/dist
R/src/QuantLib.cpp
R/makeRData.Rout
R/src/symbols.rds
R.Rcheck
Ruby/extension.mak
Ruby/quantlib_wrap.cpp

# Build outputs
**/x64/Debug
**/x64/Release
**/Debug
**/Release
**/bin/*.xml
**/bin/*.manifest

# CLion
.idea
cmake-build-debug

# Artifacts created in multiple directories
Makefile
Makefile.in
testCaseCollection.xml
.deps
.libs
*.la
*.lo
*.o
*.so
.build-stamp
*.pyc
*.exe
*.dll
*.exp
*.lib
*.pdb
*.ilk
*.class
*~
*.ncb
*.suo
*.vcproj.*.user
*.vcxproj.user
*.VC.db
*.VC.opendb
*.log
*.sdf
*.opensdf
*.pch
*.idb
*.ipch

# Outputs
CSharp/csharp/*.cs
CSharp/NQuantLib.dll
Java/QuantLib.jar
Java/*.jnilib
Java/org/
Perl/QuantLib.pm
Python/QuantLib/QuantLib.py
Python/build
R/R/QuantLib.R
R/QuantLib.RData

.vscode/launch.json
.vscode/settings.json
.vscode/tags
