name: Fix uses of boost and/or ext namespace
on:
  push:
    branches-ignore:
      - 'dependabot/**'
jobs:
  namespaces:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Check
      run: |
        sed -i -e 's/boost::shared_ptr\b/ext::shared_ptr/g' SWIG/*
        sed -i -e 's/boost::make_shared\b/ext::make_shared/g' SWIG/*
        sed -i -e 's/boost::dynamic_pointer_cast\b/ext::dynamic_pointer_cast/g' SWIG/*
        sed -i -e 's/ext::tuple\b/std::tuple/g' SWIG/*
        sed -i -e 's/ext::make_tuple\b/std::make_tuple/g' SWIG/*
        sed -i -e 's/ext::get\b/std::get/g' SWIG/*
        sed -i -e 's/ext::tie\b/std::tie/g' SWIG/*
        sed -i -e 's/ext::function\b/std::function/g' SWIG/*
        sed -i -e 's/ext::bind\b/std::bind/g' SWIG/*
        sed -i -e 's/ext::ref\b/std::ref/g' SWIG/*
        sed -i -e 's/ext::cref\b/std::cref/g' SWIG/*
        sed -i -e 's/ext::placeholders\b/std::placeholders/g' SWIG/*
        sed -i -e 's/boost::optional\b/ext::optional/g' SWIG/*
        sed -i -e 's/boost::none\b/ext::nullopt/g' SWIG/*
    - uses: peter-evans/create-pull-request@v8
      with:
        token: ${{ secrets.MACHINE_ACCOUNT_PAT }}
        push-to-fork: ${{ vars.MACHINE_ACCOUNT }}/QuantLib-SWIG
        branch: fix-boost-namespace-${{ github.ref_name }}
        delete-branch: true
        commit-message: 'Fix uses of boost and/or ext namespace'
        title: 'Fix uses of boost and/or ext namespace'
        author: lballabio[bot] <224797326+lballabio-bot@users.noreply.github.com>
